<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../assets/partials/head.html') %>
  <title>22Sounds</title>
</head>
<body class="about">
  <%= require('html-loader!../../assets/partials/header.html') %>
  <main>
    <div class="restrict-container lg">
      <h1 class="h2">About</h1>
      <div class="container" id="container-2">
        <div class="restrict-container">
          <div class="grid-container">
            <div class="a" data-scene>
              <img src="https://res.cloudinary.com/soundbetter/image/upload/c_fill,f_auto,g_face:auto,h_533,q_90,w_763/v1602593189/assets/photos/128634/Screen_Shot_2020-10-09_at_8.38.08_PM.png" alt="">
            </div>
            <div class="b" data-scene>
              <ul>
                <li class="h2 em">Musician</li>
                <li class="h2">Artist</li>
                <li class="h2">Visionary</li>
              </ul>
            </div>
            <div class="c" data-scene>
              <p>
                NAIIM’s unique amalgamation of rap, pop, R&B and funk follows no formula and is an extension of himself. His music is dichotomous, just like him - and brings out every aspect of his personality. He has taken the concept of genres and turned it on its head, “There is no genre continuity with my music. As long as it’s beautiful and makes me feel good, I’ve done my job.”
              </p>
              <p>
                NAIIM’s mission is to continue to allow his creative juices to flow, not bending to meet anyone’s expectations but his own. “My entire outlook on life has been shaped by experiences a lot of people go through, I hope my music helps others find peace, the same way it did for me.”
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <%= require('html-loader!../../assets/partials/footer.html') %>
</body>
</html>