@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url("https://use.typekit.net/mfj0tti.css");

@import '../../../node_modules/rolly.js/css/style.css';

@import "common/base";

@import "pages/container1";
@import "pages/container2";

html, body {
  height: 100%;
}

body {
  background: black;

  .container-wrapper {
    border: 1px solid #00ff00;

    .container {
      width: 100%;
      border: 1px solid #ff0000;
    }
  }
}