<footer>
  <div class="restrict-container">
    <div class="social">
      <div class="links-container">
        <a href="https://open.spotify.com/artist/4y7ZnYVLA3k3efItckQfuF">
          <i class="fab fa-spotify"></i>
        </a>
        <a href="https://music.apple.com/ca/artist/naiim/1350017032">
          <i class="fab fa-apple"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCk-03O6KqGediKMpYhnMYPA/featured">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://instagram.com/naiimsounds">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/naiimsounds">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://facebook.com/NAIIM-106363534661417">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
    <div class="sponsors">
      <img src="/assets/img/sponsors.png" alt="sponsors" />
    </div>
  </div>
</footer>