<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">
<meta name="description" content="22Sounds is a Toronto-based music label that specializes in growing ground roots talent.">
<meta name="keywords" content="22Sounds, Music, NAIIM, Toronto">
<meta name="author" content="Rohan Bhangui">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="22Sounds Official Site">
<meta property="og:description" content="22Sounds is a Toronto-based music label that specializes in growing ground roots talent.">
<meta property="og:image" content="https://res.cloudinary.com/a22sounds/image/upload/v1613790487/general/22sounds-preview_jbrkii.png">
<meta property="og:video" content="https://res.cloudinary.com/a22sounds/video/upload/v1613842736/general/link_preview_video_euwyng.mp4" />
<meta property="og:video:type" content="video/mp4" />
<meta property="og:video:width" content="1280" />
<meta property="og:video:height" content="720" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="22Sounds">
<meta property="twitter:description" content="22Sounds is a Toronto-based music label that specializes in growing ground roots talent.">
<meta property="twitter:image" content="https://res.cloudinary.com/a22sounds/image/upload/v1613790487/general/22sounds-preview_jbrkii.png">


<script src="https://kit.fontawesome.com/a4263e4312.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNP9C3NKYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNP9C3NKYQ');
</script>
