<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">
<meta name="description" content="22Sounds is a Toronto-based music label that specializes in growing ground roots talent.">
<meta name="keywords" content="22Sounds, Music, NAIIM, Toronto">
<meta name="author" content="Rohan Bhangui">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a4263e4312.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNP9C3NKYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QNP9C3NKYQ');
</script>
