<header class="header" data-scene data-speed="1.2">
  <div class="logo">
    <a href="/">
      <img src="/assets/img/logo.png" alt="" />
    </a>
  </div>
  <div class="links">
    <div class="mobile-close-button">
      <i class="fal fa-times"></i>
    </div>
    <ul>
      <li><a class="home" href="/"><img src="/assets/img/logo.png" alt="" /></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/discography">Discography</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Shop</a></li>
    </ul>
  </div>
  <div class="mobile-open-button">
    <i class="far fa-bars"></i>
  </div>
</header>