body.video {
  color: white;
  overflow-x: hidden;

  main {
    min-height: 100vh;
    overflow-x: hidden;
    
    .restrict-container {
      padding: 0 0 4rem;

      &.title {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }
    }

    h1.h2 {
      margin-top: 6rem;
      margin-bottom: 2rem;
      text-align: center;

      @include medium {
        text-align: left;
        margin-top: 8rem;
        margin-bottom: 4rem;
      }
    }

    .videos-container {
      margin-bottom: 5rem;

      @include medium {
        margin-bottom: 10rem;
      }

      .featured {
        display: block;
        padding: 0;
        position: relative;
        padding: 0 0.8rem;
        
        img {
          width: 100%;
        }
        
        .content-block {
          background: $color-primary;
          max-width: 45rem;
          width: calc(100% - 1rem);
          margin: 0 auto;
          top: -2rem;
          padding: 2rem 1rem;
          position: relative;

          @include medium {
            padding: 2rem;
            width: calc(100% - 2rem);
          }
          
          @include large {
            top: -4rem;
            left: 2rem;
            margin: 0;
            width: 100%;
          }

          .title {
            background: none;
          }

          .badge {
            margin-bottom: 0.5rem;
            font-weight: 600;
            color: black;
            display: inline-block;
            padding: 0.25rem 0.5rem;
          }

          .button {
            margin-top: 2rem;
            display: inline-block;
            margin-bottom: 0rem;
          }
        }
      }

      .wide-banner {
        display: block;
        margin: 3rem 0;
        padding: 0 0.8rem;

        &.invert {
          .flex-container {
            .flex-item {
              &.img {
                order: 1;

                @include large {
                  order: 2;
                }
              }

              &.content-block {
                order: 2;

                @include large {
                  order: 1;
                }

                h3 {

                }
              }
            }
          }
        }

        .flex-container {
          display: flex;
          flex-wrap: wrap;
          position: relative;

          .flex-item {
            &.img {
              flex: 0 0 100%;

              @include large {
                flex: 0 0 66%;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            &.content-block {
              flex: 0 0 100%;
              position: absolute;
              left: 0;
              bottom:0;
              top: 0;
              right: 0;
              background: rgba(0, 0, 0, 0.66);

              @include large {
                background: rgba(0, 0, 0, 1);
                flex: 0 0 34%;
                position: static;
              }

              .inner-content {
                margin: 1rem 1.5rem;
                position: absolute;
                bottom: 1rem;

                @include large {
                  left: auto;
                  bottom: auto;
                  position: relative;
                  margin: 0 0.5rem;
                  top: 50%;
                  transform: translateY(-50%);
                }

                @include x-large {
                  margin: 0 1.5rem;
                }

                h6 {
                  margin-bottom: 0.5rem;
                  font-size: 0.9rem;
                  color: darken(#fff, 40%);
                }

                .button {
                  display: inline-block;
                  margin-top: 1rem;

                  @include large {
                    margin-top: 2rem;
                  }
                }
  
                .title {
                  color: $color-primary;
                }
              }
            }
          }
        }
      }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0.8em 0.8em;
        grid-template-areas:
          ".";
        padding: 0 0.8rem;

        @include large {
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
            ". .";
        }

        @include x-large {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
            ". . .";
        }
        
        .tile {
          position: relative;
  
          .content-container {
            display: flex;
            width: 100%;
            cursor: pointer;
            align-items: center;

            @include large {
              display: block;
              height: 100%;
              cursor: default;
            }
  
            img {
              width: 7rem;
              height: auto;

              @include large {
                flex: 0 1 auto;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
    
            .content-block {
              padding: 0.5rem 1rem;

              @include large {
                position: absolute;
                background: rgba(0, 0, 0, 0);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: background .3s cubic-bezier(0.77, 0, 0.175, 1);
                padding: 0;
              }
    
              &:hover {
                @include large {
                  background: rgba(0, 0, 0, 0.7);
      
                  .inner-content {
                    opacity: 1;
      
                    .title {
                      transform: translateY(-0.5rem);
                    }
      
                    .button {
                      transform: translateY(0rem);
                      opacity: 1;
                    }
                  }
      
                  .play-button {
                    opacity: 0;
                  }
                }
              }
    
              .inner-content {
                @include large {
                  position: relative;
                  left: 50%;
                  top: 50%;
                  transform: translateX(-50%) translateY(-50%);
                  padding: 0 0.5rem;
                  transition: opacity .3s cubic-bezier(0.77, 0, 0.175, 1);
                  opacity: 0;
                  text-align: center;
                }
    
                .title {
                  @include large {
                    font-size: 1.4rem;
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: .25rem;
                    padding: 0.5rem;
                    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
                    transform: translateY(1rem);
                  }
                }

                h6 {
                  margin-top: 0.25rem;

                  @include large {
                    display: none;
                  }
                }
    
                .button {
                  display: none;

                  @include large {
                    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
                    transform: translateY(1rem);
                    opacity: 0;
                    display: inline-block;
                  }
                }
              }
    
              .play-button {
                left: 3.5rem;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                $play-button-size: 2.5rem;
                position: absolute;
                background: $color-primary;
                width: $play-button-size;
                height: $play-button-size;
                border-radius: 2*$play-button-size;
                transition: opacity .3s cubic-bezier(0.77, 0, 0.175, 1);

                @include large {
                  display: none;
                }
    
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  left: 55%;
                  top: 50%;
                  transform: translateX(-50%) translateY(-50%);
                  width: 0;
                  height: 0;
                  border: 0 solid transparent;
                  border-bottom-width: 8px;
                  border-top-width: 8px;
                  border-left: 13px solid white;
                }
              }
            }
          }
        }
      }

      // h3 {
      //   display: inline-block;
      //   margin-bottom: 1rem;
      // }


      // .video {
      //   margin-top: 1rem;
      //   position: relative;
      //   padding-top: 80%;
      //   margin-bottom: 1rem;
  
      //   @include small {
      //     padding-top: 50%;
      //   }

      //   @include medium {
      //     margin-bottom: 3rem;
      //   }
    
      //   iframe {
      //     width: 100%;
      //     height: 100%;
      //     max-height: 50rem;
      //     position: absolute;
      //     top: 0;
      //   }
      // }
    }
  }
}