<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../assets/partials/head.html') %>
  <title>22Sounds</title>
</head>
<body class="discography">
  <%= require('html-loader!../../assets/partials/header.html') %>
  <main>
    <div class="restrict-container">
      <h1 class="h2">Music</h1>
      <div class="grid-container">
        <% for(var item of full_discography) { %>
          <% if(true) { %>
            <div class="tile square">
              <div class="img-container">
                <img src="<%= item.img %>" />
              </div>
              <div class="cover">
                <div class="inner">
                  <div class="title"><%= item.title %></div>
                  <p class="h6">Released: <%= item.release_date %></p>
                  <div class="consume">
                    <a href="<%= item.url %>" class="button primary" target="_blank" rel="noopener noreferrer">
                      Listen
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
            <div class="tile video">
              <iframe src="<%= item.youtube_embed %>" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </main>
  <%= require('html-loader!../../assets/partials/footer.html') %>
</body>
</html>