#container-1 {
  height: calc(100vh - #{$header-height});
  position: relative;

  .flex-container {
    height: 100%;
    z-index: 100;
    position: relative;

    .img-container {
      padding: 0 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
  
      img, svg {
        width: 100%;
        height: auto;
        width: 60vmin;
      }
  
      .numbers {
        opacity: 0;
  
        &.active {
          opacity: 1;
          transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
  
      .sounds-text {
        transform: translateY(5rem);
        position: relative;
        opacity: 0;
  
        &.active {
          transition: opacity 1.25s cubic-bezier(0.77, 0, 0.175, 1), transform 1.25s cubic-bezier(0.77, 0, 0.175, 1);
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  #subject-video {
    width: 120vmin;
    height: 120vmin;
    position: relative;
    top: -10vmin;

    // @include medium {
    //   width: 90vmin;
    //   height: 90vmin;
    // }

    // .overlay  {
    //   -moz-box-shadow: inset 0 0 500px 50px $color-primary-dark,  0 0 500px 50px $color-primary-dark;
    //   -webkit-box-shadow: inset 0 0 500px 50px $color-primary-dark,  0 0 500px 50px $color-primary-dark;
    //   box-shadow: inset 0 0 500px 50px $color-primary-dark,  0 0 500px 50px $color-primary-dark;
    //   position: relative;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    // }

    .overlay-left, .overlay-right, .overlay-top, .overlay-bottom {
      position: absolute;
      z-index: 1;
    }

    .overlay-left, .overlay-right {
      width: 40px;
      height: 100%;
    }

    .overlay-top, .overlay-bottom {
      width: 100%;
      height: 40px;
    }

    .overlay-left {
      left: 0px;
      top: 0;
      background: linear-gradient(90deg, rgba($color-primary-dark,1) 5%, rgba($color-primary-dark,0) 100%);
    }

    .overlay-right {
      right: 0px;
      top: 0;
      background: linear-gradient(270deg, rgba($color-primary-dark,1) 5%, rgba($color-primary-dark,0) 100%);
    }

    .overlay-top {
      left: 0;
      top: 0px;
      background: linear-gradient(180deg, rgba($color-primary-dark,1) 5%, rgba($color-primary-dark,0) 100%);
    }

    .overlay-bottom {
      left: 0;
      bottom: 0px;
      background: linear-gradient(0, rgba($color-primary-dark,1) 5%, rgba($color-primary-dark,0) 100%);
    }
    

    video {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 0;
      width: 100%;
      min-width: 480px;
      left: 50%;
      object-fit: contain;
      position: absolute;
    }
  }

  #background-video {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    &.show {
      opacity: 0.66;
      transition: opacity 0.75s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}