body.about {
  color: white;

  main {
    min-height: 100vh;
    
    .restrict-container {
      padding: 0 0.8rem 4rem;
    }

    h1.h2 {
      margin-top: 6rem;
      margin-bottom: 2rem;
      text-align: center;

      @include medium {
        text-align: left;
        margin-top: 8rem;
        margin-bottom: 4rem;
      }
    }
    
    @import "../home/containers/container2";

    
  }
}