<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../assets/partials/head.html') %>
  <title>22Sounds</title>
</head>
<body class="contact">
  <%= require('html-loader!../../assets/partials/header.html') %>
  <main>
    <div class="restrict-container lg">
      <div class="container" id="container-2">
        <div class="restrict-container">
          <div class="grid-container">
            <div class="a" data-scene>
              <img src="https://images.pexels.com/photos/2786638/pexels-photo-2786638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div>
            <div class="b" data-scene>
              <ul>
                <li class="h2">Art</li>
                <li class="h2">Music</li>
                <li class="h2 em">Timeless</li>
              </ul>
            </div>
            <div class="c" data-scene>
              <p>
                22Sounds is a Toronto-based music label that specializes in growing ground roots talent.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ab sint animi laboriosam natus laborum pariatur dignissimos. Tempore quidem necessitatibus eligendi labore explicabo quis itaque soluta iure! Dolorum, perferendis enim.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-container">
				<div class="flex-left flex-item">
					<div class="text-container">
						<h3>Business Inquiry</h3>
						<div class="content">
              <a href="mailto:naiimmgmt@gmail.com">naiimmgmt@gmail.com</a>
            </div>
					</div>
				</div>
				<div class="flex-right flex-item">
					<div class="text-container">
						<h3>Connect</h3>
						<div class="social">
              <div class="links-container">
                <a href="https://open.spotify.com/artist/4y7ZnYVLA3k3efItckQfuF">
                  <i class="fab fa-spotify"></i>
                  <span>Spotify</span>
                </a>
                <a href="https://music.apple.com/ca/artist/naiim/1350017032">
                  <i class="fab fa-apple"></i>
                  <span>Apple Music</span>
                </a>
                <a href="https://www.youtube.com/channel/UCk-03O6KqGediKMpYhnMYPA/featured">
                  <i class="fab fa-youtube"></i>
                  <span>NAIIM SOUNDS</span>
                </a>
                <!-- <a href="https://vm.tiktok.com/ZMJbMJTjt">
                  <i class="fab fa-tiktok"></i>
                  <span>@22Sounds</span>
                </a> -->
                <a href="https://instagram.com/naiimsounds">
                  <i class="fab fa-instagram"></i>
                  <span>@naiimsounds</span>
                </a>
                <a href="https://twitter.com/naiimsounds">
                  <i class="fab fa-twitter"></i>
                  <span>@NAIIMsounds</span>
                </a>
                <a href="https://facebook.com/NAIIM-106363534661417">
                  <i class="fab fa-facebook"></i>
                  <span>NAIIM</span>
                </a>
              </div>
            </div>
					</div>
				</div>
			</div>
    </div>
  </main>
  <%= require('html-loader!../../assets/partials/footer.html') %>
</body>
</html>