footer {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 2rem 1rem;
  height: $footer-height;
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;

    @include large {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1rem 1rem;
      grid-template-areas:
        "a b c";
    }

    .a {
      grid-area: a;
    }

    .b {
      grid-area: b;
    }

    .c {
      grid-area: c;
    }

    .column {
      margin-bottom: 2rem;
      flex: 0 0 100%;
      padding: 0 1rem;

      @include large {
        flex: auto;
      }

      img {
        width: 4rem;
        height: 4rem;
        margin-left: -1rem;

        + h4 {
          margin-left: -1rem;
        }
      }

      h5 {
        transform: scaleX(0.9) translateX(0%);
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;

        li {
          margin: 0.3rem 0;

          a {
            padding: 0.3rem 0;
            display: inline-block;
            text-decoration: none;
            transition: color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
            color: rgba(white, 0.5);

            &.home {
              color: rgba(white, 1);
              display: flex;
              align-items: center;
              margin-top: -1rem;
            }

            &:hover {
              color: rgba(white, 1);
            }
          }
        }
      }
    }
  }
}