.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  height: $header-height;
  width: 100%;
  color: white;
  display: flex;
  opacity: 1;

  .logo {
    height: $header-height;
    width: $header-height;
    flex: 0 0 $header-height;

    a {
      height: 100%;
      width: 100%;

      img {
        height: inherit;
        width: inherit;
      }
    }
  }

  .links {
    flex: 1 1 auto;
    padding: 0 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:  flex-end;

    ul {
      li {
        list-style: none;
        display: inline-block;
        padding: 0 0.3rem;
        
        a {
          @include bold-ext;
          padding: 0 0.3rem;
          font-size: 1.2rem;
          background: linear-gradient(90deg, $color-primary 0%, $color-primary 100%);
          background-position: 0 100%;
          background-repeat: repeat-x;
          background-size: 4px 0px;
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none;
          transition: background-size 0.3s cubic-bezier(0.77,0,0.175,1), color 0.3s cubic-bezier(0.77,0,0.175,1);

          &:hover {
            background-size: 4px 40%;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
