.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  height: $header-height;
  width: 100%;
  color: white;
  display: flex;
  opacity: 1;

  .logo {
    height: $header-height;
    width: $header-height;
    flex: 0 0 $header-height;

    a {
      height: 100%;
      width: 100%;

      img {
        height: inherit;
        width: inherit;
      }
    }
  }

  .links {
    flex: 1 1 auto;
    padding: 0 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    //for mobile
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(black, 0.95);
    transition: opacity 0.3s cubic-bezier(0.77,0,0.175,1);

    @include large {
      padding: 0 1.5rem;
      justify-content: flex-end;

      opacity: 1;
      pointer-events: auto;

      position: static;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      background: none;
    }

    &.mobile-open {
      opacity: 1;
      pointer-events: auto;
    }

    .mobile-close-button {
      position: fixed;
      top: 1.5rem;
      right: 1.5rem;

      @include large {
        display: none;
      }

      i {
        font-size: 1.8rem;
        cursor: pointer;
      }
    }

    ul {
      li {
        list-style: none;
        display: block;
        padding: 1rem 0.3rem;

        @include large {
          padding: 0 0.3rem;
          display: inline-block;
        }
        
        a {
          &:not(.home) {
            @include bold-ext;
            padding: 0 0.3rem;
            font-size: 1.6rem;
            text-align: center;
            background: linear-gradient(90deg, $color-primary 0%, $color-primary 100%);
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 4px 0px;
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            transition: background-size 0.3s cubic-bezier(0.77,0,0.175,1), color 0.3s cubic-bezier(0.77,0,0.175,1);

            @include small {
              font-size: 2.4rem;
            }
  
            @include large {
              font-size: 1.2rem;
            }
  
            &:hover {
              background-size: 4px 30%;
              color: rgba(255, 255, 255, 1);
  
              @include large {
                background-size: 4px 40%;
              }
            }
          }

          &.home {

            @include large {
              display: none;
            }

            img {
              width: 5rem;
              height: 5rem;
              opacity: 0.5;
              margin-left: -0.5rem;
            }

            &:hover {
              img {
                transition: opacity 0.3s cubic-bezier(0.77,0,0.175,1);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .mobile-open-button {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content:  flex-end;
    padding: 0 1.5rem;

    @include large {
      display: none;
    }

    i {
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}
