//Common Styles
.button, button {
	text-decoration: none;
	padding: 15px 30px;
	text-transform: uppercase;
	font-family: $font-secondary;
	font-size: 13px;
	letter-spacing: 1px;
	cursor: pointer;
	text-align: center;

	&.primary {
		background: $color-primary;
		border: 2px solid $color-primary;
		color: #fff;
	}

	&.secondary {
		border: 2px solid $color-primary;
		color: $color-primary;
		background: none;
	}

	&.alt-primary {
		border: 2px solid #fff;
		background: #fff;
		color: #000;

		// &:hover {
		// 	background: $color-primary;
		// 	border: 2px solid $color-primary;
		// 	color: #fff;
		// }
	}

	&.alt-secondary {
		border: 2px solid #fff;
		color: white;
		background: none;

		// &:hover {
		// 	background: #fff;
		// 	color: $color-primary;
		// }
	}

	&:active {
		position: relative;
		top: 1px;
	}
}


.h1, h1 {
	$base-size: 50px;
	$base-letter-spacing: -2px;

	font-size: $base-size;
	letter-spacing: $base-letter-spacing;
  margin: 0;
	@include bold-ext;
	
	@include small {
		font-size: $base-size*1.429;
		letter-spacing: $base-letter-spacing*1.429;
	}

	@include x-large {
		font-size: $base-size*1.429*1.561;
		letter-spacing: $base-letter-spacing*1.429*1.561;
	}
}

.h2, h2 {
	$base-size: 42px;
	$base-letter-spacing: -2px;

	font-size: $base-size;
	letter-spacing: $base-letter-spacing;
	font-weight: 500;
  @include bold-ext;

	@include small {
		font-size: $base-size*1.429;
		letter-spacing: $base-letter-spacing*1.429;
	}

	@include x-large {
		font-size: $base-size*1.429*1.561;
		letter-spacing: $base-letter-spacing*1.429*1.561;
	}
}

.h3, h3 {
	$base-size: 35px;
	$base-letter-spacing: -0.66px;

	font-size: $base-size;
	letter-spacing: $base-letter-spacing;
	font-weight: 600;
	@include bold-ext;

	background: linear-gradient(90deg, $color-primary 0%, $color-primary 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 25%;

	@include small {
		font-size: $base-size*1.429;
		letter-spacing: $base-letter-spacing*1.429;
	}

	@include x-large {
		font-size: $base-size*1.429;
		letter-spacing: $base-letter-spacing*1.429;
	}
}

.h4, h4 {
	$base-size: 21px;
	$base-letter-spacing: -0.33px;

	font-size: $base-size;
	letter-spacing: $base-letter-spacing;
  font-weight: 400;
  @include bold-ext;

	@include small {
		font-size: $base-size*1.429;
		letter-spacing: $base-letter-spacing*1.429;
	}

	@include x-large {
		font-size: $base-size*1.429*1.561;
		letter-spacing: $base-letter-spacing*1.429*1.561;
	}
}

.h5, h5 {
	font-size: 18px;
	letter-spacing: -0.33px;
  font-weight: 400;
  @include bold-ext;

	// @include x-large {
	// 	font-size: 35.5px;
	// 	letter-spacing: -0.66px;
	// }
}

h6, .h6 {
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.33);
}

p {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.33);
}

.social-link {
	&, &:hover, &:active, &:visited {
		color: black;
	}

	.fab {
		font-size: 31px;
		margin: 0 3px;

		@include small {
			margin: 0 6px;
		}
	}
}

//Section style

.inverted {
	background: black;
	color: white;

	.social-link {
		&, &:hover, &:active, &:visited {
			color: white;
		}
	}
}

::selection {
  background: #ccc;
}
::-moz-selection {
  background: #ccc;
}


* {
	font-family: $font-primary;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.restrict-container {
	max-width: 75rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&.sm {
		max-width: 60rem;
	}

	&.lg {
		max-width: 90rem;
	}
}