//Variables
$color-primary: #003CFF;
$header-height: 4.6875rem;

//Typography
$font-primary: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: nimbus-sans-extended, sans-serif;

@mixin bold-ext {
  font-family: $font-secondary;
  font-weight: 900;
  font-style: normal;
  transform: scaleX(0.9) translateX(5%);
  transform-origin: top left;
  text-transform: uppercase;
  line-height: 1;
}

//Media queries
$x-small: 320px;
$small: 480px;
$medium: 640px;
$large: 768px;
$x-large: 1024px;
$xx-large: 1200px;

@mixin x-small {
  @media (min-width: #{$x-small}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large}) {
    @content;
  }
}

@mixin xx-large {
  @media (min-width: #{$xx-large}) {
    @content;
  }
}