//Variables
$color-primary: #944EC2;

//Media queries
$x-small: 320px;
$small: 480px;
$medium: 640px;
$large: 768px;
$x-large: 1024px;
$xx-large: 1200px;

$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: 'Montserrat', sans-serif;


@mixin x-small {
  @media (min-width: #{$x-small}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large}) {
    @content;
  }
}

@mixin xx-large {
  @media (min-width: #{$xx-large}) {
    @content;
  }
}