<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!../../assets/partials/head.html') %>
  <title>22Sounds - 404 Not Found</title>
</head>
<body class="error-page">
  <%= require('html-loader!../../assets/partials/header.html') %>
  <main>
    <div class="restrict-container sm">
      <div class="content-container">
        <h2>OOPS!</h2>
        <h4>We could not find what you were looking for.</h4>
        <a class="button primary" href="/">Go Home</a>
      </div>
    </div>
  </main>
  <%= require('html-loader!../../assets/partials/footer.html') %>
</body>
</html>